@tailwind base;
@tailwind components;
@tailwind utilities;

#root::-webkit-scrollbar,div::-webkit-scrollbar,body::-webkit-scrollbar {display:none}
#root::-webkit-scrollbar,div::-webkit-scrollbar,body::-webkit-scrollbar { width: 0 !important }

#root,body,div { -ms-overflow-style: none; }

#root,body,div { overflow: -moz-scrollbars-none; }
/* #root {
  @apply bg-ink-darkest;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Sarpanch', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-ink-darkest;
}
.bandbtn{
  @apply w-full h-12 rounded-3xl bg-brand cursor-pointer select-none text-white text-base font-bold px-2 active:bg-opacity-80
}
.bidbtn{
  @apply w-full h-12 rounded-3xl bg-phthaloblue cursor-pointer select-none text-white text-base font-bold px-2 active:bg-opacity-80
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.title-first{
  @apply text-white text-3xl font-semibold
}
.title-second{
  @apply text-white text-2xl font-semibold
}
.title-third{
  @apply text-white text-base font-bold
}
.content{
  @apply text-ink-lighter text-sm font-normal
}
@media (min-device-width: 1024px) {
  html {
    transform-origin: 50% 2%;
    overflow: hidden;
    background: unset !important;
    padding: 20px 0;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
  }
  #root {
    height: 800px;
    border-radius: 10px;
    width: 375px;
    margin: auto;
    overflow: auto;
    @apply bg-ink-darkest border-ink-light border shadow-inner;

  }
}